<body class="text-center">

<main class="form-signin w-100 m-auto">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

    <h1 class="h3 mb-5 fw-normal" style="color: white">Login</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="johnny cash" name="username" ngModel>
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" ngModel>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">Sign in</button>
  </form>
</main>

</body>
