<div class="text-center">
  <app-link *ngFor="let link of links" [link]="link" [editable]="editable"></app-link>
  <form *ngIf="editable" #addLinkForm="ngForm" (ngSubmit)="addLink(addLinkForm)" style="max-width: 50%; margin: auto">
    <div class="input-group mb-3 mt-3">
      <span class="input-group-text">Title</span>
      <input type="text" name="title" class="form-control" placeholder="Jazz Playlist" aria-label="Username" ngModel>
      <span class="input-group-text">Link</span>
      <input type="text" name="url" class="form-control" placeholder="https://" aria-label="Username" ngModel>
      <button class="btn btn-danger" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
        Add Link
      </button>
    </div>
  </form>
  <button *ngIf="editable" (click)="openEditModal()" class="btn btn-warning">Edit Your Profile</button>
  <h1>{{profileUsername}}</h1>
  <h5>{{profile.biography}}</h5>
  <img src="{{profile.profilePictureLink}}" style="max-width: 100%; max-height: 100%">
</div>
